.container{
    overflow: auto;
}
.table{
    margin: auto;
    margin-top: 100px;
}
form{
    margin: auto;
    margin-top: 30px;
    width: 400px;
}
.style{
    display: flex;
}

@media (max-width:471px){
    .container-fluid{
        justify-content: center !important;
    }
}
